<p id="notice"><%= notice %></p>

<p>
  <strong>Menu:</strong>
  <%= @menu.menu_id %>
</p>

<p>
  <strong>Dish:</strong>
  <%= @menu.dish_id %>
</p>

<p>
  <strong>Total:</strong>
  <%= @menu.total %>
</p>

<p>
  <strong>Price:</strong>
  <%= @menu.price %>
</p>

<p>
  <strong>Restaurant:</strong>
  <%= @menu.restaurant_id %>
</p>

<%= link_to 'Edit', edit_menu_path(@menu) %> |
<%= link_to 'Back', menus_path %>
