<p id="notice"><%= notice %></p>

<p>
  <strong>Dish:</strong>
  <%= @dish.dish_id %>
</p>

<p>
  <strong>Name:</strong>
  <%= @dish.name %>
</p>

<p>
  <strong>Price:</strong>
  <%= @dish.price %>
</p>

<p>
  <strong>Category:</strong>
  <%= @dish.category_id %>
</p>

<%= link_to 'Edit', edit_dish_path(@dish) %> |
<%= link_to 'Back', dishes_path %>
